{# empty Twig template #}
{# app/Resources/views/form/form_fields.html.twig #}

{% block form_row %}
{% spaceless %}
    <div class="form_row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
                    <style type="text/css">
                .required { color: #336699;width:75px; }
                img[id^="captcha_"]{display: block;margin-left: 115px;height: 40px;width: 100px;}
                #form_captcha{margin-left:75px;}
                #user_login_captcha{margin-left:75px;}
            </style>
    </div>
{% endspaceless %}
{% endblock form_row %}